#loader{
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: calc(50% - 30px);
    box-sizing: border-box;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 3px solid lightgray;
    border-top-color: var(--blue);
    animation: spinner 0.9s linear infinite;
}

@keyframes spinner  {
    to{
        transform: rotate(360deg);
    }
}
